*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
}
body {
  min-height: 100vh;
  background-color: #333;
  color: #eee;
}
header,
main,
footer {
  width: 40vw;
  padding: 1rem 1rem;
  margin: 0 auto;
  text-align: center;
}
header h1 {
  color: orange;
}
header h2 {
  color: orangered;
}
.items {
  background-color: rgb(2, 16, 73);
  line-height: 1.7;
  margin: 1.5rem 0;
  position:relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  align-items: center; 
  font-size: 1.5rem;
  max-width: 20vw;
  border-radius: 5px;
  height: 20vh;

}
#nav{
  align-items: center;
  text-align: center;
}
#footer {
  display: flex;
  flex-direction: row;
}
#nav a,
#footer a {
  color: orangered;
  padding: 0.25rem 1rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay.active {
  display: flex;
  cursor: wait;
}
.loading {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  animation-name: pulse;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}